:root{
    --white:#fff;
    --black:#000;
    --dark-yellow:#dfb736;
    --gray:#484545;
    --light-black:#161515;
    --black-type:#1D1C1C;
    --yellow:#F1B922;
    --mid-white:#F5EACD;
    --orange-light:#af7a43;
    --footer-icon :#d8c9c9;
}
*{
    margin: 0;
    padding: 0;
}


    
   /* background-position: center;*/


nav  {
    overflow: hidden;
background-color: var(--orange-light);
    
    
    
}

/*navbar code*/


nav a.nav-link {
    font-size: 1.3rem;
    letter-spacing: 0.1479rem;
    padding: 0 0.75rem;
   
    
}

nav ul li {
    text-transform: uppercase ;
   
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
  border-left: 0.1874rem solid var(--dark-yellow);

}


/* Header ucun CSS kodlari  */
.header-wrapper {
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    
}
.main-info{
    position: relative;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    color: white;
   
}

.typed-text {
    font-size: 2rem;
    color: var(--white);
}

@media(max-width:760px) {
    .main-info h1 {
        font-size: 1.7rem !important;
    }

    .typed-text  {
        font-size: 1.7rem !important;
    }
}

.downloandcv{
    border: 1px solid var(--yellow);
    padding: 0.625rem;
    margin: 4rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--dark-yellow);
}

.downloandcv:hover{
    text-decoration: none;
    background-color: var(--dark-yellow);
    color: var(--white);
    transition: .4s ease-in-out;
}

/*About qismi*/
.photo-wrap{
    background: url(im.jpg);
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;  
}
 
.about-heading {
    color: var(--black-type);
    text-transform: uppercase;
}

@media(max-width:468px) {
    .about-heading {
        text-align: center;
        margin-bottom: 20px;

    }
}
.p-text{
    text-align:justify ;
}

 /*Pricing qismi*/   
 *,*::before, *::after {
     box-sizing: border-box;
 } 
 .gg{
   margin: 0 ;
   background-color: #FCF9F1;
   min-width: 100vw;
   min-height: 100vh;
   display: flex;
   justify-content: center; 
   align-items: center ; 
   font-family: var(--black);
 }

 .price-comparison {
     display: flex;
     justify-content: center;
     align-items: stretch;
     width: 100%;
     margin: 1rem;
 }
   .price-column {
    background-color: var(--whitew);
    box-shadow: 0 7px 30px var(--orange-light);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;

   }
  .price-column.pp {
      
      background-color: var(--orange-light);
      color: var(--mid-white);
      box-shadow: 0 7px 30px var(--orange-light);
      margin-bottom: -1.5rem;
      padding-bottom: 3.5rem;

  }     
  .price-column:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}

.price-column:last-child {
    border-top-left-radius:0;
    border-bottom-left-radius:0;

}

    .price-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--yellow);
        font-weight:bold ;
    }

    .price {
        font-size: 3.5rem;
        display: flex;
    }

    .dollar-sign {
      font-size: 1.5rem;
      padding-top: .5rem;
      margin-right: .25rem ;
    }

    .por-month {
     font-size: .75rem;
     align-self: flex-end;
     margin-bottom: 1.1rem;
     text-transform: uppercase;
    }

    .plan-name {
        text-transform: uppercase;
        font-size: .9rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    

    .divider {
        height: 1px;
        width: 100%;
        background-color: var(--black);
        margin-top: 2rem;
        margin-bottom: 3rem; 
    }
    .price-column.pp.divider {
        background-color: var(--orange-light);

    }

    @media (max-width: 991px){
        .feature{
            font-size: 12px;
        }
    }


.cta {
    border: none;
    background-color: var(--orange-light);
    color: var(--white);
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--gray);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;

}

.cta-m{
    border: none;
    background-color: var(--white);
    color: var(--orange-light);
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--orange-light);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: scale(1);
}

.price-column-popular .cta{
    background-color: var(--white) ;
    color: var(--orange-light);

}

.cta:hover,cta:focus {
    transform: scale(1.1);
}

.cta-m:hover, cta-m:focus {
    transform: scale(1.1);
}

/*Contact qismi*/

.cc{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact{
    position: relaative;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(contact-bg.jpg);
    background-size: cover;
}

.contact .content {

    max-width: 800px;
    text-align: center;

}

.contact .content h2 
{
 font-size: 36px;
 font-weight: 500;
 color: var(--white);

}

.contact .content p {
font-weight: 300;
color: var(--white);

}
.container {
     width: 100%;
     display:flex;
     justify-content: center ;
     align-items: center;
     margin-top: 30px;

}

.container .contactINfo {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container .contactINfo .box {
    position: relative ;
    padding: 20px 0;
    display: flex;

}

.container .contactINfo .box .icon {
    min-width: 60px;
    height: 60px;
    background:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}


.container .contactINfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--white);
    flex-direction: column;
    font-weight: 300;
}

.container .contactINfo .box .text h3 {
    font-weight: 500;
    color: #ecd37f;
}

/*Contact-send massage*/
.contactFrom {
    width: 40%;
    padding: 40px;
    background: var(--white);
}

.contactFrom h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactFrom .inputBox {

    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactFrom .inputBox input,
.contactFrom .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size:16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactFrom .inputBox span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}

.contactFrom .inputBox input:focus ~ span,
.contactFrom .inputBox input:valid ~ span,
.contactFrom .inputBox textarea:valid ~ span,
.contactFrom .inputBox textarea:focus ~ span
{
    color: var(--yellow);
    font-size: 12px;
    transform: translateY(-20px);

}


.contactFrom .inputBox input[type="submit"] {
    width: 100px;
    background: var(--dark-yellow);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px; 
}

 @media (max-width: 991px)
 {
     .contact{
         padding: 50px;
     }
     .container{
         flex-direction: column;
     }
     .container .contactINfo {
         margin-bottom: 40px ;
     }
     .container .contactINfo,
     .contactFrom{
         width: 100%;
     }
 }

 /*Footer qismi*/
 .ff{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI';
     font-weight: 400;
     background-color: var(--white);
 }

 .footer {
     padding: 40px 0;
     background-color: var(--orange-light);

 }

 .footer .social {
     text-align: center;
     padding-bottom: 25px ;
     color: var(--footer-icon);
 }
.footer .social a{
    font-size: 22px;
    color: inherit;
    border: 1px solid var(--mid-white);
    width: 40px;
    height: 40px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;

}

.footer.social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;

}
.footer ul li a:hover {
    opacity: 1;
} 

.footer .copright {
   margin-top: 15px;
   text-align: center;
   font-size: 13px ;
  color: #aaa;   
}